/*
    Default style overrides for cheese dialog
*/


.dialog-header > div {
    justify-content: space-between;
}

.mat-dialog-title {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.mat-dialog-subtitle {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0,0,0,0.5);
}

.purchases-table {
    width: 100%;
    border-collapse:separate; 
    --pt-border-spacing: 4px;
    border-spacing: 0 var(--pt-border-spacing);
}
.purchases-table > tr > td > img {
    border-radius: 6px;
}
.purchases-table > tr > td {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: var(--pt-border-spacing);
}

.purchases-table > tr > td.right-align,
.purchases-table > tr > th.right-align {
    text-align: right !important;
}

.purchases-table > tr.total-column > td {
    border-top: 1px solid rgba(0,0,0,0.8);
    text-align: right;
    font-weight: bolder;
    padding: 6px;
    padding-right:0 !important;
}