<div class="wrapper" *ngIf="!hasRoute('admin')">
  <!--Frontend section-->
  <app-navbar></app-navbar>
  <app-cheeses-tab></app-cheeses-tab>
  <app-copyright></app-copyright>
  <div class="container-fluid">
    <div class="row copyright">
      <div
        class="
          d-flex
          justify-content-between
          w-100
          flex-xs-column flex-sm-column flex-md-row flex-lg-row
        "
      >
        Patient Zero 2021
      </div>
    </div>
  </div>
  <!-- End frontend-->
</div>
