<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add 
			name="PrimaryDbConnection" 
			connectionString="Data Source=svfs01;Initial Catalog=PzCheeseria;User ID=patientzero;Password=Pass123!"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>